#header-nav {
  background-color: #e1b311;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Helvetica', serif;
  color: #127c9e;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3px;
}

h1 {
font-family: 'comics';

}

.row .col-xs-12{
	height: 500px;
	background-color: #FFEBCD;
	border: solid black 2px;
	margin: 15px auto 15px;
  }

